<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
        <typeAlias alias="User" type="xyz.andornot.endorphin.domain.User"/>
        <typeAlias alias="Board" type="xyz.andornot.endorphin.domain.Board"/>
        <typeAlias alias="UserLoginLog" type="xyz.andornot.endorphin.domain.UserLoginLog"/>
        <typeAlias alias="Post" type="xyz.andornot.endorphin.domain.Post"/>
        <typeAlias alias="Reply" type="xyz.andornot.endorphin.domain.Reply"/>
    </typeAliases>
</configuration>